// css variable
// :root {
//   --color-primary: rgba(220, 38, 38, 1); /* primary */
//   --color-paragraph: rgba(231, 229, 228, 1); /* gray-200 */
//   --color-background: rgba(28, 25, 23, 1);
// }

// scss variable
$color-primary: #dc2626; /* primary */
$color-paragraph: #e7e5e4; /* gray-200 */
$color-background: #1c1917;
