@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /* font-family: Inter, sans-serif; */
    @apply min-h-full bg-gray-900 text-paragraph;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.showmore {
  span {
    @apply translate-x-2 transform opacity-100;

    @media only screen and (min-width: 1024px) {
      @apply translate-x-0 opacity-0;
    }
  }

  &:hover span {
    @media only screen and (min-width: 1024px) {
      @apply translate-x-2 transform opacity-100;
    }
  }
}

.poster {
  @apply relative h-full w-full cursor-pointer overflow-hidden rounded-md;

  .poster-info {
    @apply translate-y-10 opacity-0;
  }

  .poster-bg {
    @apply opacity-0;
  }

  @media only screen and (min-width: 1024px) {
    &:hover,
    &:focus {
      .poster-info {
        @apply translate-y-0 opacity-100;
      }
      .poster-bg {
        @apply opacity-100;
      }
    }
  }

  .poster-genre:last-of-type {
    span {
      display: none;
    }
  }
}

.genre-grid {
  // @apply grid gap-x-2 gap-y-8 grid-cols-[repeat(2,1fr)];
  @apply grid gap-3;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media only screen and (min-width: 1350px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media only screen and (min-width: 1650px) {
    grid-template-columns: repeat(6, 1fr);
  }

  .poster {
    @media only screen and (min-width: 1024px) {
      transition: all 0.3s;
      z-index: 1;

      &:hover,
      &:focus {
        transform: scale(1.2);
        z-index: 5;

        & ~ .poster {
          z-index: 1;
        }
      }

      // すべてinitialにリセット
      &:nth-child(1n) {
        transform-origin: initial;
      }
      &:nth-child(3n-2) {
        transform-origin: left;
      }
      &:nth-child(3n) {
        transform-origin: right;
      }
    }

    @media only screen and (min-width: 1024px) {
      &:nth-child(1n) {
        transform-origin: initial;
      }
      &:nth-child(4n-3) {
        transform-origin: left;
      }
      &:nth-child(4n) {
        transform-origin: right;
      }
    }

    @media only screen and (min-width: 1350px) {
      &:nth-child(1n) {
        transform-origin: initial;
      }
      &:nth-child(5n-4) {
        transform-origin: left;
      }
      &:nth-child(5n) {
        transform-origin: right;
      }
    }

    @media only screen and (min-width: 1650px) {
      &:nth-child(1n) {
        transform-origin: initial;
      }
      &:nth-child(6n-5) {
        transform-origin: left;
      }
      &:nth-child(6n) {
        transform-origin: right;
      }
    }
  }
}

/* ==============================
NOTE:= Error: resolve-url-loader: CSS error when production build
  Had this issue with tailwindcss/jit.
  Kept giving me error on prod/build while dev worked fine. Not sure if related to tailwind or what but might help someone.
  I had mb-[2px] at the end. Moving it to the middle worked fine.

  .some_class {
    // ✅ - this works
    @apply grid grid-cols-[auto,1fr,auto] mb-[2px] relative items-center hover:bg-gray-50 hover:shadow;
    // ❌ - this doesnt work
    @apply grid grid-cols-[auto,1fr,auto] relative items-center hover:bg-gray-50 hover:shadow mb-[2px];
  }
  // NextJS build gives error: "Error: resolve-url-loader: CSS error Invalid mapping: ... "
============================== */
