/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic); */

@layer base {
  * {
    /* @apply border border-blue-300 !important; */
  }

  html,
  body {
    /* font-family: Inter, sans-serif; */
    @apply text-paragraph bg-gray-900;
  }
}

:root {
  --primary-color: rgba(220, 38, 38, 1); /* primary */
  --paragraph: rgba(231, 229, 228, 1); /* gray-200 */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.row-showmore:hover span {
  @apply opacity-100 transform translate-x-2;
}
