/*
<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination">
    <!-- when pagination property is true -->
    <div class="swiper-pagination-bullet"></div>
    <div class="swiper-pagination-bullet swiper-pagination-bullet-active"></div>
    <div class="swiper-pagination-bullet"></div>
  </div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
*/
.row {
  .swiper-container {
    // 左右の余白はここで指定
    overflow: initial;
    @apply w-full h-auto px-[4%];

    .swiper-wrapper {
      @apply h-auto;
      @media only screen and (min-width: 768px) {
        &.is-center:hover {
          .swiper-slide {
            // hoverした.slider要素より前の.slider要素
            transform: translateX(-12%);
            opacity: 0.2;
            &:hover {
              // hoverした.slider要素
              // @apply z-10 scale-125 translate-x-0 opacity-100;
              @apply z-10 opacity-100;
              transform: scale(1.25) translateX(0%);

              ~ .swiper-slide {
                // hoverした.slider要素以降の.slider要素
                transform: translateX(12%);
              }
            }
          }
        }

        &.is-left:hover {
          .swiper-slide {
            transform: translateX(0%);
            opacity: 0.2;
            &:hover {
              @apply z-10 opacity-100;
              transform: scale(1.25) translateX(0%);

              ~ .swiper-slide {
                transform: translateX(25%);
              }
            }
          }
        }

        &.is-right:hover {
          .swiper-slide {
            transform: translateX(-25%);
            opacity: 0.2;
            &:hover {
              @apply z-10 opacity-100;
              transform: scale(1.25) translateX(0%);

              ~ .swiper-slide {
                transform: translateX(0%);
              }
            }
          }
        }
      }

      .swiper-slide {
        // slidesPerViewをautoにするとwidth, heightを指定できる
        @apply rounded-md max-w-full
        transition duration-300
        overflow-hidden cursor-pointer;

        &.center {
          @apply origin-center;
        }

        &.left,
        &.swiper-slide-active {
          @apply origin-left;
        }

        &.right {
          @apply origin-right;
        }
      }
    }

    .swiper-pagination {
      left: initial !important;
      bottom: initial !important;
      width: auto !important;
      @apply absolute -top-8 right-[4%] opacity-0 transition duration-500;

      &-bullet {
        margin: 0;
        @apply w-4 h-[4px] bg-gray-200 rounded-none ml-1 transition duration-300;

        &-active {
          @apply h-[5px];
        }
      }
    }

    &:hover .swiper-pagination {
      @apply opacity-100;
    }
  }

  .swiper-button {
    @apply absolute top-0
    w-[4%] h-full flex-shrink-0
    flex justify-center items-center
    bg-gray-900/70
    cursor-pointer z-10;

    svg {
      @apply w-5 h-5 text-gray-200 opacity-0 transition duration-300;
      // transform: scale(0.5);
    }

    &:hover svg {
      @apply opacity-100;
      transform: scale(1.75);
    }

    &.prev {
      @apply left-0 rounded-tr-md rounded-br-md;
    }

    &.next {
      @apply right-0 rounded-tl-md rounded-bl-md;
    }

    &.swiper-button-disabled {
      @apply opacity-30 cursor-default;
    }
  }
}
